@import '~node_modules/modern-normalize/modern-normalize.css';
html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand';
  background-color: #ffffff;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1356px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 14px;
  padding-left: 14px;
}
