@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Quicksand';
  background-color: #fafafa;
}
button {
  cursor: pointer;
}
.container {
  width: 1356px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 14px;
  padding-left: 14px;
}
