//? @extend

%flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
%title {
  color: $textColor;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
}
%text-main {
  color: $textColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
%text-large {
  color: $textColor;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
