//? @extend

%flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
%title {
  color: $textColor;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
}
%text-main {
  color: $textColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
%text-large {
  color: $textColor;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
%modal-title {
  font-family: 'Playfair Display';
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: $textColor;
  text-align: center;

  @media screen and (min-width: 814px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }
}
%modal-label {
  font-weight: 400;
  font-size: 8px;
  text-align: left;
  color: $textColor;

  @media screen and (min-width: 814px) {
    font-size: 10px;
    line-height: normal;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 18px;
  }
}
%modal-input {
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 8px;
  line-height: normal;
  &::placeholder {
    color: rgb(183, 183, 183);
    font-size: 8px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }
  @media screen and (min-width: 814px) {
    padding: 13px 25px;
    margin-top: 10px;
    font-size: 10px;
    // line-height: normal;
    &::placeholder {
      font-size: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
