//? @extend

%flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
%title {
  color: $textColor;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
}
%text-main {
  color: $textColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
%text-large {
  color: $textColor;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
%modal-title {
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: $textColor;
  text-align: center;
}
%modal-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: $textColor;
}
%modal-input {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  border: none;
  margin-top: 10px;
  &::placeholder {
    color: rgb(183, 183, 183);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
}
