$bgColor: rgb(245, 245, 245);
$bgAccentColor: rgb(255, 251, 230);
$blur: blur(10px);
$accentColor: rgb(255, 239, 152);
$textColor: rgb(0, 0, 0);
$boxShadow: 0px 0px 26.7px 0px rgba(0, 0, 0, 0.05);
$secondaryColor: rgb(255, 252, 236);
$circleAccentColor: rgb(255, 245, 200);
$textSecondaryColor: rgb(25, 25, 25);
$controllerUnactive: rgb(207, 183, 61);
$controllerActive: rgb(255, 233, 118);
