<div class="cleaner cleaner--hidden" data-cleaner-backdrop>
  <div class="cleaner-modal">
    <button
      class="cleaner__close-btn"
      type="button"
      data-cleaner-close-btn="true"
    >
      <img
        src="./img/svg/Close.svg"
        alt="close icon"
        data-cleaner-close-btn="true"
      />
    </button>
    <h2 class="cleaner__title">Create a cleaner account</h2>
    <form class="cleaner__form" data-form="cleaner">
      <ul class="cleaner__list">
        <li class="cleaner__item">
          <label class="cleaner__label">First & last name</label
          ><input
            class="cleaner__input"
            name="names"
            type="text"
            placeholder="First & last name"
            data-input="cleaner-username"
          />
        </li>
        <li class="cleaner__item">
          <label class="cleaner__label">E-Mail</label
          ><input
            class="cleaner__input"
            name="email"
            type="text"
            placeholder="E-Mail"
            data-input="cleaner-email"
          />
        </li>
        <li class="cleaner__item">
          <label class="cleaner__label">Phone number</label
          ><input
            class="cleaner__input"
            name="phone"
            type="text"
            placeholder="Phone number"
            data-input="cleaner-phone"
          />
        </li>
        <li class="cleaner__item">
          <label class="cleaner__label">Password</label
          ><input
            class="cleaner__input"
            name="password"
            type="password"
            placeholder="Password"
            data-input="cleaner-password"
          />
        </li>
      </ul>
      <p class="cleaner__text">password must contain 8-24 characters</p>
      <button type="submit" class="cleaner__btn">Sign up as a cleaner</button>
    </form>
  </div>
</div>
