<footer class="footer">
  <div class="container footer-container">
    <div class="footer-block">
      <img class="footer__logo" src="./img/logo.png" alt="Company logotype" />
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#offers">Services</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#tips">For cleaners</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#reviews">Reviews</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#connection">Contacts</a>
        </li>
      </ul>
    </div>
    <ul class="socials">
      <li class="socials__item">
        <a href="https://google.com" class="socials__link"
          ><img
            src="./img/svg/Instagram.svg"
            alt="Instagram icon"
            class="socials__icon"
        /></a>
      </li>
      <li class="socials__item">
        <a href="https://google.com" class="socials__link"
          ><img
            src="./img/svg/Facebook.svg"
            alt="Facebook icon"
            class="socials__icon"
        /></a>
      </li>
      <li class="socials__item">
        <a href="https://google.com" class="socials__link"
          ><img
            src="./img/svg/Xmessager.svg"
            alt="Twitter/X icon"
            class="socials__icon"
        /></a>
      </li>
    </ul>
  </div>
</footer>
