<footer class="footer">
  <div class="container footer-container">
    <div class="footer-block">
      <img class="footer__logo" src="./img/logo.png" alt="Company logotype" />
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#offers">Services</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#tips">For cleaners</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#reviews">Reviews</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#connection">Contacts</a>
        </li>
      </ul>
    </div>
    <ul class="socials">
      <li class="social__item">
        <img
          src="./img/svg/Vector inst.svg"
          alt="Instagram icon"
          class="social__icon"
        />
      </li>
      <li class="social__item">
        <img
          src="./img/svg/Vector fc.svg"
          alt="Facebook icon"
          class="social__icon"
        />
      </li>
      <li class="social__item">
        <img src="./img/svg/X.svg" alt="Twitter/X icon" class="social__icon" />
      </li>
    </ul>
  </div>
</footer>
