<header class="header">
  <div class="container">
    <img class="header__logo" src="./img/logo.png" alt="Company logotype" />
    <ul class="header__list">
      <li class="header__item">
        <button class="header__btn header__btn--first" type="button">
          Log In
        </button>
      </li>
      <li class="header__item">
        <button class="header__btn header__btn--second" type="button">
          Sign Up
        </button>
      </li>
    </ul>
    <div class="header-block">
      <button class="header__burger-btn" type="button">
        <img src="./img/svg/Burger.svg" alt="burger" />
      </button>
    </div>
  </div>
</header>
