<section class="hero">
  <div class="container">
    <h2 class="hero__title">Who are we?</h2>
    <p class="hero__text">
      ANN SB CLEANING SERVICE LTD is a leading company providing cleaning
      services in the United Kingdom. We specialize in delivering high-quality
      cleaning services for various premises, including offices, residential
      homes, commercial spaces, and much more. Our mission is to provide our
      clients with impeccably clean and organized environments that enhance
      their comfort and productivity. We utilize cutting-edge technologies and
      eco-friendly products to achieve the best results without harming the
      environment. Our team consists of experienced and professional staff who
      have extensive experience in the cleaning industry. We approach each task
      meticulously with an individualized approach to ensure excellent results
      that meet the needs of our clients. Regardless of the size of your
      premises or the complexity of the task, ANN SB CLEANING SERVICE LTD is
      ready to take responsibility for its cleanliness and orderliness. Contact
      us today, and we will be happy to help you make your environment clean,
      fresh, and organized!
    </p>
  </div>
</section>
