<section class="offers">
  <h2 class="offers__title">What we offer...</h2>
  <div class="container">
    <div class="services-box">
      <h2 class="services__title">Our services</h2>
      <ul class="services__list">
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
        <li class="services__item">
          <p class="services__description">Cleaning type - avg price</p>
        </li>
      </ul>
    </div>
    <div class="cleaners-box">
      <h2 class="cleaners__title">Our cleaners</h2>
      <ul class="cleaners__list">
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
        </li>
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
        </li>
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
        </li>
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
