<section class="offers">
    <h2 class="offers__title">What we offer...</h2>
    <div class="container">
        <div class="services-box">
            <h3 class="services__title">Our services</h3>
            <ul class="services__list">
                <!--  -->
                <li class="services__item">
                    <p class="services__description">One off cleaning
                        <!-- - £22-->
                    </p>
                </li>
                <li class="services__item">
                    <p class="services__description">
                        Domestic cleaning(weekly)
                        <!-- - £17-->
                    </p>
                </li>
                <li class="services__item">
                    <p class="services__description">
                        Domestic cleaning(fortnightly)
                        <!--- £18-->
                    </p>
                </li>
                <li class="services__item">
                    <p class="services__description">
                        End of tenancy cleaning
                        <!--- £18-->
                    </p>
                </li>
                <li class="services__item">
                    <p class="services__description">
                        Deep clean
                        <!--- £18-->
                    </p>
                </li>
                <li class="services__item">
                    <p class="services__description">
                        Spring clean
                        <!--- £18-->
                    </p>
                </li>
            </ul>
        </div>
        <div class="cleaners-box">
            <h3 class="cleaners__title">Our cleaners</h3>
            <ul class="cleaners__list">
                <li class="cleaners__item">
                    <div class="cleaners-photo-box">
                        <img src="./img/boico.jpg" alt="cleaner avatar" />
                    </div>
                    <div class="offers-name-and-surname-box">
                        <h2 class="name__title">Ana</h2>
                        <h2 class="name__title">Boico</h2>
                    </div>
                    <div class="additional-text hidden">
                        <div class="cleaners-photo-box cleaners-photo-box-hover">
                            <img src="./img/boico.jpg" alt="cleaner avatar" />
                        </div>
                        <div class="offers-name-and-surname-box">
                            <h2 class="name__title name__title-hover">Ana</h2>
                            <h2 class="name__title name__title-hover">Boico</h2>
                            <div class="container_title-hover">
                                <h2 class="title-hover">
                                    Skills:
                                    <p class="cleaners__subtext">
                                        persistence, technical literacy, ability to work in a team, cohesion of actions, adaptability and the ability to switch from one type of activity to another, discipline, vigor, cleanliness
                                    </p>
                                </h2>
                                <h2 class="title-hover">
                                    Experience:
                                    <p class="cleaners__subtext">8 years</p>
                                </h2>
                            </div>

                            <ul class="offers__star-list">
                                <li class="title-hover-star">
                                    <h2 class="title-hover">Total reviews score:</h2>
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="cleaners__item">
                    <div class="cleaners-photo-box"></div>
                    <div class="offers-name-and-surname-box">
                        <h2 class="name__title">Jane</h2>
                        <h2 class="name__title">Smith</h2>
                    </div>
                    <div class="additional-text hidden">
                        <div class="cleaners-photo-box cleaners-photo-box-hover"></div>
                        <div class="offers-name-and-surname-box">
                            <h2 class="name__title name__title-hover">Jane</h2>
                            <h2 class="name__title name__title-hover">Smith</h2>
                            <div class="container_title-hover">
                                <h2 class="title-hover">
                                    Skills:
                                    <p class="cleaners__subtext">
                                        thorough cleaning of residential and commercial premises, ability to work with various types of surfaces and materials, knowledge of eco-friendly cleaning products, high attention to detail, excellent communication skills
                                    </p>
                                </h2>
                                <h2 class="title-hover">
                                    Experience:
                                    <p class="cleaners__subtext">5 years</p>
                                </h2>
                            </div>

                            <ul class="offers__star-list">
                                <li class="title-hover-star">
                                    <h2 class="title-hover">Total reviews score:</h2>
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="cleaners__item">
                    <div class="cleaners-photo-box"></div>
                    <div class="offers-name-and-surname-box">
                        <h2 class="name__title">Michael</h2>
                        <h2 class="name__title">Johnson</h2>
                    </div>
                    <div class="additional-text hidden">
                        <div class="cleaners-photo-box cleaners-photo-box-hover"></div>
                        <div class="offers-name-and-surname-box">
                            <h2 class="name__title name__title-hover">Michael</h2>
                            <h2 class="name__title name__title-hover">Johnson</h2>
                            <div class="container_title-hover">
                                <h2 class="title-hover">
                                    Skills:
                                    <p class="cleaners__subtext">
                                        professional cleaning of offices and business centers, use of modern cleaning equipment, effective time management and work planning, knowledge of sanitary standards and requirements, ability to work in a team
                                    </p>
                                </h2>
                                <h2 class="title-hover">
                                    Experience:
                                    <p class="cleaners__subtext">7 years</p>
                                </h2>
                            </div>

                            <ul class="offers__star-list">
                                <li class="title-hover-star">
                                    <h2 class="title-hover">Total reviews score:</h2>
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="cleaners__item">
                    <div class="cleaners-photo-box"></div>
                    <div class="offers-name-and-surname-box">
                        <h2 class="name__title">Linda</h2>
                        <h2 class="name__title">Williams</h2>
                    </div>
                    <div class="additional-text hidden">
                        <div class="cleaners-photo-box cleaners-photo-box-hover"></div>
                        <div class="offers-name-and-surname-box">
                            <h2 class="name__title name__title-hover">Linda</h2>
                            <h2 class="name__title name__title-hover">Williams</h2>
                            <div class="container_title-hover">
                                <h2 class="title-hover">
                                    Skills:
                                    <p class="cleaners__subtext">
                                        daily and general cleaning of office spaces, working with professional cleaning chemicals, quick response to client requests, responsibility and reliability, ability to work under pressure
                                    </p>
                                </h2>
                                <h2 class="title-hover">
                                    Experience:
                                    <p class="cleaners__subtext">10 years</p>
                                </h2>
                            </div>

                            <ul class="offers__star-list">
                                <li class="title-hover-star">
                                    <h2 class="title-hover">Total reviews score:</h2>
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                                <li class="title-hover-star">
                                    <img class="offers-star" src="./img/svg/Star.svg" alt="star" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>