<section class="offers">
  <h2 class="offers__title">What we offer...</h2>
  <div class="container">
    <div class="services-box">
      <h2 class="services__title">Our services</h2>
      <ul class="services__list">
        <li class="services__item">
          <p class="services__description">Ironing service - £17</p>
        </li>
        <li class="services__item">
          <p class="services__description">One off cleaning - £22</p>
        </li>
        <li class="services__item">
          <p class="services__description">Domestic cleaning(weekly) - £17</p>
        </li>
        <li class="services__item">
          <p class="services__description">
            Domestic cleaning(fortnightly) - £18
          </p>
        </li>
      </ul>
    </div>
    <div class="cleaners-box">
      <h2 class="cleaners__title">Our cleaners</h2>
      <ul class="cleaners__list">
        <li class="cleaners__item">
          <div class="cleaners-photo-box"><img src="./img/boico.jpg" alt="cleaner avatar"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">Ana</h2>
            <h2 class="name__title">Boico</h2>
          </div>
          <div class="additional-text hidden">
            <div class="cleaners-photo-box cleaners-photo-box-hover"><img src="./img/boico.jpg" alt="cleaner avatar"></div>
            <div class="offers-name-and-surname-box">
              <h2 class="name__title name__title-hover">Ana</h2>
              <h2 class="name__title name__title-hover">Boico</h2>
              <div class="container_title-hover">
                <h2 class="title-hover">Skills: <p class="cleaners__subtext"> persistence;
                  technical literacy,
                  ability to work in a team,
                  cohesion of actions,
                  adaptability and the ability to switch from one type of activity to another,
                  discipline,
                  vigor,
                  cleanliness</p>
                </h2>
                <h2 class="title-hover">Experience</h2>
              </div>

              <ul class="offers__star-list">
                <li class="title-hover-star">
                  <h2 class="title-hover">Total reviews score:</h2>
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
          <div class="additional-text hidden">
            <div class="cleaners-photo-box cleaners-photo-box-hover"></div>
            <div class="offers-name-and-surname-box">
              <h2 class="name__title name__title-hover">First name</h2>
              <h2 class="name__title name__title-hover">Last name</h2>
              <div class="container_title-hover">
                <h2 class="title-hover">Skills</h2>
                <h2 class="title-hover">Experience</h2>
              </div>

              <ul class="offers__star-list">
                <li class="title-hover-star">
                  <h2 class="title-hover">Total reviews score:</h2>
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
          <div class="additional-text hidden">
            <div class="cleaners-photo-box cleaners-photo-box-hover"></div>
            <div class="offers-name-and-surname-box">
              <h2 class="name__title name__title-hover">First name</h2>
              <h2 class="name__title name__title-hover">Last name</h2>
              <div class="container_title-hover">
                <h2 class="title-hover">Skills</h2>
                <h2 class="title-hover">Experience</h2>
              </div>

              <ul class="offers__star-list">
                <li class="title-hover-star">
                  <h2 class="title-hover">Total reviews score:</h2>
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cleaners__item">
          <div class="cleaners-photo-box"></div>
          <div class="offers-name-and-surname-box">
            <h2 class="name__title">First name</h2>
            <h2 class="name__title">Last name</h2>
          </div>
          <div class="additional-text hidden">
            <div class="cleaners-photo-box cleaners-photo-box-hover"></div>
            <div class="offers-name-and-surname-box">
              <h2 class="name__title name__title-hover">First name</h2>
              <h2 class="name__title name__title-hover">Last name</h2>
              <div class="container_title-hover">
                <h2 class="title-hover">Skills</h2>
                <h2 class="title-hover">Experience</h2>
              </div>

              <ul class="offers__star-list">
                <li class="title-hover-star">
                  <h2 class="title-hover">Total reviews score:</h2>
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
                <li class="title-hover-star">
                  <img src="./img/svg/Star.svg" alt="star" />
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
