<section class="portfolio_section">
    <div class="container">
        <h1 class="portfolio_title">Our portfolio</h1>
        <div class="portfolio_navigation">
            <img src="./img/arrows/left.svg" alt="left" />
            <img class="portfolio_img" src="./img/house-cleaning.jpg" alt="house-cleaning" />
            <img src="./img/arrows/right.svg" alt="right" />
        </div>
        <ul class="portfolio_desing_list">
            <li><span class="portfolio_desing"></span></li>
            <li><span class="portfolio_desing-2"></span></li>
            <li><span class="portfolio_desing-2"></span></li>
            <li><span class="portfolio_desing-2"></span></li>
            <li><span class="portfolio_desing-2"></span></li>
            <li><span class="portfolio_desing-2"></span></li>
            <li><span class="portfolio_desing-2"></span></li>

        </ul>
        <ul class="portfolio_list">
            <li>
                <p class="portfolio_text">
                    Feeling lazy or need a quick clean-up? You’re welcome to order a cleaning!
                </p>
            </li>
            <li><button class="portfolio_button" type="button">Order a cleaning</button></li>
        </ul>
    </div>
</section>