<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Our work</h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio/portfolio-bathroom.jpeg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio/portfolio-bath.jpeg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio/portfolio-oven.jpeg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio/portfolio-corridor.jpeg"
            alt="шось там"
          />
        </div>
        <!-- <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-5.jpg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-7.jpg"
            alt="шось там"
          />
        </div> -->
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
    </div>

    <h2 class="portfolio__title" style="margin-top: 40px">Our portfolio</h2>

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-1.jpg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-2.jpg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-3.jpg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-4.jpg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-5.jpg"
            alt="шось там"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="portfolio__img"
            src="./img/portfolio-pictures-7.jpg"
            alt="шось там"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
    </div>
  </div>

  <div class="portfolio-services-box">
    <ul class="portfolio__list">
      <li>
        <p class="portfolio__text">
          Feeling lazy or need a quick clean-up? You’re welcome to order a
          cleaning!
        </p>
      </li>
      <li>
        <button class="portfolio__button" type="button">
          Order a cleaning
        </button>
      </li>
    </ul>
    <ul class="services__list">
      <!--  -->
      <li class="services__item">
        <p class="services__description">One off cleaning<!-- - £22--></p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 50 50"
        >
          <path
            d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"
          ></path>
        </svg>
        <div class="services-price-hover-box">
          <p class="services-price-hover__text">One off cleaning from £22</p>
        </div>
      </li>
      <li class="services__item">
        <p class="services__description">
          Domestic cleaning(weekly)
          <!-- - £17-->
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 50 50"
        >
          <path
            d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"
          ></path>
        </svg>
        <div class="services-price-hover-box">
          <p class="services-price-hover__text">
            Domestic cleaning(weekly) from £17
          </p>
          <ul class="services-price-hover__list">
            <li class="services-price-hover__item"><p>basic</p></li>
            <li class="services-price-hover__item"><p>deep cleaning</p></li>
            <li class="services-price-hover__item"><p>fresh cleaning</p></li>
          </ul>
        </div>
      </li>
      <li class="services__item">
        <p class="services__description">
          Domestic cleaning(fortnightly)
          <!--- £18-->
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 50 50"
        >
          <path
            d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"
          ></path>
        </svg>
        <div class="services-price-hover-box">
          <p class="services-price-hover__text">
            Domestic cleaning(fortnightly) from £18
          </p>
          <ul class="services-price-hover__list">
            <li class="services-price-hover__item"><p>basic</p></li>
            <li class="services-price-hover__item"><p>deep cleaning</p></li>
            <li class="services-price-hover__item"><p>fresh cleaning</p></li>
          </ul>
        </div>
      </li>
      <li class="services__item">
        <p class="services__description">
          End of tenancy cleaning
          <!--- £18-->
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 50 50"
        >
          <path
            d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"
          ></path>
        </svg>
        <div class="services-price-hover-box">
          <p class="services-price-hover__text">End of tenancy cleaning</p>
        </div>
      </li>
      <li class="services__item">
        <p class="services__description">
          Deep clean
          <!--- £18-->
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 50 50"
        >
          <path
            d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"
          ></path>
        </svg>
        <div class="services-price-hover-box">
          <p class="services-price-hover__text">Deep clean</p>
        </div>
      </li>
      <li class="services__item">
        <p class="services__description">
          Spring clean
          <!--- £18-->
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 50 50"
        >
          <path
            d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"
          ></path>
        </svg>
        <div class="services-price-hover-box">
          <p class="services-price-hover__text">Spring clean</p>
        </div>
      </li>
    </ul>
  </div>
</section>
