<section>
  <div class="container">
    <h1>Our portfolio</h1>
    <ul>
      <li><img src="./img/house-cleaning.jpg" alt="house-cleaning" /></li>
      <li><img src="./img/arrows/left.svg" alt="left" /></li>
      <li><img src="./img/arrows/right.svg" alt="right" /></li>
    </ul>

    <ul>
      <li>
        <p>
          Feeling lazy or need a quick clean-up? You’re welcome to order a
          cleaning!
        </p>
      </li>
      <li><button type="button">Order a cleaning</button></li>
    </ul>
  </div>
</section>
