<section class="reviews">
  <div class="container">
    <h1 class="reviews__title">Here’s how people see us...</h1>
    <div class="reviews__list">
      <div class="reviews__item">
        <div class="reviews__item-img">
          <img
            class="reviews__avatar"
            src="./img/Avatar-Olexandr.jpg"
            alt="Avatar"
          />
        </div>
        <div class="reviews__item-text">
          <p class="reviews__text">Emily</p>
          <p class="reviews__text-last">Murphy</p>
          <p class="reviews__text-lorem">
            “I want to express my huge thanks to ANN SB CLEANING SERVICE LTD for
            their excellent work! My apartment has never looked so clean and
            organized. They were very professional and friendly, and I
            appreciate their attention to detail. I will definitely use their
            services again!”
          </p>
        </div>
        <ul class="reviews__star-list">
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
        </ul>
      </div>
      <div class="reviews__item">
        <div class="reviews__item-img">
          <img
            class="reviews__avatar"
            src="./img/Avatar-Olexandr.jpg"
            alt="Avatar"
          />
        </div>
        <div class="reviews__item-text">
          <p class="reviews__text">Tom</p>
          <p class="reviews__text-last">Miller</p>
          <p class="reviews__text-lorem">
            “ want to express my huge thanks to ANN SB CLEANING SERVICE LTD for
            their excellent work! My apartment has never looked so clean and
            organized. They were very professional and friendly, and I
            appreciate their attention to detail. I will definitely use their
            services again!”
          </p>
        </div>
        <ul class="reviews__star-list">
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
        </ul>
      </div>
      <div class="reviews__item">
        <div class="reviews__item-img">
          <img
            class="reviews__avatar"
            src="./img/Avatar-Olexandr.jpg"
            alt="Avatar"
          />
        </div>
        <div class="reviews__item-text">
          <p class="reviews__text">Sarah</p>
          <p class="reviews__text-last">Campbell</p>
          <p class="reviews__text-lorem">
            “ANN SB CLEANING SERVICE LTD are true professionals! Our restaurant
            always stays impeccably clean thanks to their work. They not only
            efficiently perform their duties, but they are also always friendly
            and helpful. This is truly a rare occurrence in the industry, and I
            am very grateful to them for their work!”
          </p>
        </div>
        <ul class="reviews__star-list">
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
          <li><img src="./img/svg/Star.svg" alt="star" /></li>
        </ul>
      </div>

      <!-- Repeat this block for other reviews -->
    </div>
  </div>
</section>
