<section class="reviews">
    <div class="container">
        <h1 class="reviews__title">Here’s how people see us...</h1>

        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img class="reviews__avatar" src="./img/Avatar-Olexandr.jpg" alt="Avatar">
                </div>
                <div class="reviews__item-text">
                    <p class="reviews__text">First name</p>
                    <p class="reviews__text-last">Last name</p>
                    <p class="reviews__text-lorem">
                        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    </p>
                </div>
                <ul class="reviews__star-list">
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                </ul>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img class="reviews__avatar" src="./img/Avatar-Olexandr.jpg" alt="Avatar">
                </div>
                <div class="reviews__item-text">
                    <p class="reviews__text">First name</p>
                    <p class="reviews__text-last">Last name</p>
                    <p class="reviews__text-lorem">
                        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    </p>
                </div>
                <ul class="reviews__star-list">
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                </ul>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img class="reviews__avatar" src="./img/Avatar-Olexandr.jpg" alt="Avatar">
                </div>
                <div class="reviews__item-text">
                    <p class="reviews__text">First name</p>
                    <p class="reviews__text-last">Last name</p>
                    <p class="reviews__text-lorem">
                        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    </p>
                </div>
                <ul class="reviews__star-list">
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                    <li><img src="./img/svg/Star.svg" alt="star" /></li>
                </ul>
            </div>

            <!-- Repeat this block for other reviews -->

        </div>
    </div>
</section>