<section>
    <div class="container">
        <h1>Here’s how people see us...</h1>

        <div>
            <ul>

                <li>
                    <p>First name</p>
                </li>
                <li>
                    <p>Last name</p>
                </li>
                <li>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
            </ul>
        </div>
        <div>
            <ul>

                <li>
                    <p>First name</p>
                </li>
                <li>
                    <p>Last name</p>
                </li>
                <li>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
            </ul>
        </div>
        <div>
            <ul>

                <li>
                    <p>First name</p>
                </li>
                <li>
                    <p>Last name</p>
                </li>
                <li>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
                <li><img src="./img/svg/Star.svg" alt="star"></li>
            </ul>
        </div>
    </div>
</section>