<section class="tips">
  <div class="container">
    <h2 class="tips__title">Need some tips?</h2>
    <ul class="tips__list">
      <li class="tips__item">
        <div class="tips-person-box">
          <div class="tips-photo-box"></div>
          <div class="name-and-surname-box">
            <h2 class="tips__name">First name</h2>
            <h2 class="tips__name">Last name</h2>
          </div>
        </div>
        <p class="tips__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur... <span class="tips-see-more__span">click to see more</span>
        </p>
      </li>
      <li class="tips__item">
        <div class="tips-person-box">
          <div class="tips-photo-box"></div>
          <div class="name-and-surname-box">
            <h2 class="tips__name">First name</h2>
            <h2 class="tips__name">Last name</h2>
          </div>
        </div>
        <p class="tips__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur... <span class="tips-see-more__span">click to see more</span>
        </p>
      </li>
    </ul>
  </div>
</section>
