<div class="backdrop-order is-hidden-order">
  <div class="order__modal">
    <button type="button" class="order-modal-close__btn">
      <img src="./img/svg/Close.svg" />
    </button>
    <h2 class="order-modal__title">Order a cleaning</h2>
    <form class="order-modal__form">
      <label for="firstAndLastName">First & last name</label>
      <input
        type="text"
        name="orderNames"
        placeholder="First & last name"
        class="order-modal__input"
      />
      <label
        for="cleaningTypeLabel"
        class="order-modal-cleanng-type__label order-modal-margin__label"
        >Cleaning type</label
      >
      <select name="cleaningTypeSelect" class="order-modal__select">
        <option value="0" selected disabled>Select cleaning type...</option>
        <option value="1">List item</option>
        <option value="2">List item</option>
        <option value="3">List item</option>
        <option value="4">List item</option>
        <option value="5">List item</option>
      </select>
      <div class="order-modal-phone-box">
        <div>
          <label for="orderRoomsNumber">Number of rooms</label>
          <input
            type="number"
            name="orderRoomsNumber"
            placeholder="Number of rooms"
            class="order-modal__input"
          />
        </div>
        <div>
          <label for="orderModalPhone">Phone number</label>
          <input
            type="tel"
            name="orderModalTel"
            placeholder="+44 000 000 00 00"
            class="order-modal__input"
          />
        </div>
      </div>
      <label
        for="orderModalDistrict"
        class="order-modal-district__label order-modal-margin__label"
        >District</label
      >
      <select name="cleaningTypeSelect" class="order-modal__select">
        <option value="0" selected disabled>Select your district</option>
        <option value="1">List item</option>
        <option value="2">List item</option>
        <option value="3">List item</option>
        <option value="4">List item</option>
        <option value="5">List item</option>
      </select>
      <label
        for="arderModalAddres"
        class="order-modal-addres__label order-modal-margin__label"
        >Address</label
      >
      <input
        type="text"
        placeholder="Address"
        name="orderModalAddres"
        class="order-modal__input"
      />
      <label
        for="orderModalAdditionalInfo"
        class="order-modal-additional-info__label order-modal-margin__label"
        >Additional information</label
      >
      <textarea
        name="orderModalAdditionalInfo"
        placeholder="Additional information"
        class="order-modal__textarea"
      ></textarea>
      <button type="submit" class="order-modal-send__btn">Place an order</button>
    </form>
  </div>
</div>
