<div class="backdrop-order is-hidden-order">
  <div class="order__modal">
    <button class="order-modal-close__btn" type="button">
      <img src="./img/svg/Close.svg" />
    </button>
    <h2 class="order-modal__title">Order a cleaning</h2>
    <form class="order-modal__form" data-order-form>
      <label for="firstAndLastName">First & last name</label>
      <input
        class="order-modal__input"
        name="orderNames"
        type="text"
        placeholder="First & last name"
      />
      <label
        class="order-modal-cleanng-type__label order-modal-margin__label"
        for="cleaningTypeLabel"
        >Cleaning type</label
      >
      <select class="order-modal__select" name="cleaningTypeSelect">
        <option value="0" selected disabled>Select cleaning type...</option>
        <option value="1">List item</option>
        <option value="2">List item</option>
        <option value="3">List item</option>
        <option value="4">List item</option>
        <option value="5">List item</option>
      </select>
      <div class="order-modal-phone-box">
        <div>
          <label for="orderRoomsNumber">Number of rooms</label>
          <input
            class="order-modal__input"
            name="orderRoomsNumber"
            type="number"
            placeholder="Number of rooms"
            min="1"
          />
        </div>
        <div>
          <label for="orderModalPhone">Phone number</label>
          <input
            class="order-modal__input"
            name="orderModalTel"
            type="tel"
            placeholder="+44 000 000 00 00"
          />
        </div>
      </div>
      <label
        class="order-modal-district__label order-modal-margin__label"
        for="orderModalDistrict"
        >District</label
      >
      <select class="order-modal__select" name="districtSelect">
        <option value="0" selected disabled>Select your district</option>
        <option value="1">List item</option>
        <option value="2">List item</option>
        <option value="3">List item</option>
        <option value="4">List item</option>
        <option value="5">List item</option>
      </select>
      <label
        class="order-modal-addres__label order-modal-margin__label"
        for="arderModalAddres"
        >Address</label
      >
      <input
        class="order-modal__input"
        name="orderModalAddres"
        type="text"
        placeholder="Address"
      />
      <label
        class="order-modal-additional-info__label order-modal-margin__label"
        for="orderModalAdditionalInfo"
        >Additional information</label
      >
      <textarea
        class="order-modal__textarea"
        name="orderModalAdditionalInfo"
        placeholder="Additional information"
      ></textarea>
      <button class="order-modal-send__btn" type="submit">
        Place an order
      </button>
    </form>
  </div>
</div>
