.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: 1356px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (min-width: 814px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer-container {
    display: flex;
    @media (min-width: 814px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 814px) {
        flex-direction: row;
        align-items: center;
    }
}

.footer__logo {
    width: 68px;
    height: 20px;
    margin-bottom: 10px;
    @media (min-width: 814px) {
        width: 117px;
        height: 35px;
        margin-right: 80px;
    }
    @media (min-width: 1356px) {
        width: 184px;
        height: 55.2px;
        margin-right: 156px;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    @media (min-width: 814px) {
        gap: 8px;
    }
}

.footer__item {
    list-style: none;
}

.footer__link {
    font-size: 8px;
    font-weight: 300;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    @media (min-width: 814px) {
        font-size: 12px;
    }
    @media (min-width: 1356px) {
        font-size: 16px;
    }
}

.socials {
    display: flex;
    margin-left: auto;
    &__item {
        margin-right: 15px;
        @media (min-width: 1356px) {
            margin-right: 32px;
        }
        @media (min-width: 814px) {
            margin-right: 20px;
        }
    }
}

.socials__icon {
    width: 10px;
    height: 10px;
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
    &:hover {
        filter: invert(77%) sepia(20%) saturate(242%) hue-rotate(351deg) brightness(102%) contrast(100%);
    }
    @media (min-width: 814px) {
        width: 20px;
        height: 20px;
    }
    @media (min-width: 1356px) {
        width: 30px;
        height: 30px;
    }
}