.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media (max-width: 814px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
    }
    @media (max-width: 814px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.footer-block {
    display: flex;
    @media (max-width: 1200px) {
        flex-direction: row;
        margin-bottom: 20px;
    }
    @media (max-width: 814px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__logo {
    margin-right: 156px;
    height: 55.2px;
    @media (max-width: 1200px) {
        margin-right: 60px;
        width: 117px;
        height: 35px;
    }
    @media (max-width: 814px) {
        margin-bottom: 10px;
        width: 68px;
        height: 20px;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width: 1200px) {
        justify-content: flex-start;
    }
    @media (max-width: 814px) {
        align-items: flex-start;
    }
}

.footer__link {
    @extend %text-main;
    font-weight: 300;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 1200px) {
        font-size: 12px;
    }
    @media (max-width: 814px) {
        font-size: 8px;
    }
}

.socials {
    display: flex;
    &__item {
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: 1200px) {
            margin-right: 20px;
        }
        @media (max-width: 814px) {
            margin-right: 10px;
        }
    }
}

.socials__icon {
    transition-duration: 250ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
    &:hover {
        filter: invert(77%) sepia(20%) saturate(242%) hue-rotate(351deg) brightness(102%) contrast(100%);
    }
    @media (max-width: 1200px) {
        width: 20px;
        height: 20px;
    }
    @media (max-width: 814px) {
        width: 10px;
        height: 10px;
    }
}