.hero {
    padding-top: 108px;
    padding-bottom: 60px;
}

.hero__title {
    color: rgb(0, 0, 0);
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0%;
}

.hero__text {
    width: 871px;
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}