.job {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 814px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.job__title {
  color: $textColor;
  font-family: 'Playfair Display';
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  max-width: 132px;
  text-align: center;
  margin-left: 88px;
  //   margin-right: 20px;

  @media screen and (min-width: 814px) {
    font-size: 24px;
    line-height: 32px;
    max-width: 263px;
    margin-left: auto;
    margin-right: 100px;
  }

  @media screen and (min-width: 1200px) {
    // @extend %title;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    max-width: 438px;
    margin-left: auto;
    margin-right: 390px;
  }
}

.job__description {
  font-size: 10px;
  line-height: 150%;
  color: $textColor;
  text-align: right;
  margin-top: 10px;
  //   margin-right: 100px;

  @media screen and (min-width: 814px) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    margin-right: 100px;
  }

  @media screen and (min-width: 1200px) {
    // @extend %text-large;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    margin-right: 200px;
    z-index: 100;
  }
}

.job__button {
  display: block;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: $accentColor;
  color: $textSecondaryColor;
  font-size: 8px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0%;
  margin-top: 10px;
  margin-left: auto;

  @media screen and (min-width: 814px) {
    padding: 15px 40px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 30px;
    margin-right: 100px;
  }

  @media screen and (min-width: 1200px) {
    // display: block;
    padding: 15px 50px;
    // border-radius: 10px;
    // border: none;
    // background-color: $accentColor;
    // color: $textSecondaryColor;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    margin-top: 30px;
    // margin-left: auto;
    margin-right: 200px;
  }
}

// .tips-elips-1 {
//   position: absolute;
//   top: -107px;
//   left: -485px;
//   width: 811px;
//   height: 811px;
//   border-radius: 50%;
//   border: 30px solid $circleAccentColor;
//   z-index: -2;
// }

// .tips-elips-2 {
//   position: absolute;
//   top: 131px;
//   left: -206px;
//   width: 684px;
//   height: 684px;
//   border-radius: 50%;
//   border: 42px solid $secondaryColor;
//   z-index: -1;
// }
