.portfolio__title {
  color: $textColor;
  font-family: 'Playfair Display';
  font-size: 10px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0%;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 814px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.portfolio__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__img {
  width: 260px;
  height: 144px;
  margin: 0 auto;
  display: block;
  @media screen and (min-width: 814px) {
    width: 516px;
    height: 290px;
  }
  @media screen and (min-width: 1200px) {
    width: 885px;
    height: 498px;
  }
}

.portfolio__design {
  width: 20px;
  position: absolute;
  height: 5px;
  border-radius: 10px;
  background: $controllerUnactive;
  transition: all 0.5s ease-in-out;
}

.portfolio__design.active {
  background: $controllerActive;
}

.portfolio__design-list {
  display: flex;
  position: relative;
  top: 10px;
  justify-content: center;
}

.portfolio__design-list li:not(:last-child) {
  margin-right: 25px;
}

.services__description {
  font-size: 8px;
  font-weight: 400;
  line-height: 250%;
  text-align: center;
  color: $textColor;
  @media screen and (min-width: 814px) {
    font-size: 12px;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.portfolio__text {
  color: $textColor;
  font-family: 'Quicksand';
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
  text-align: center;
  text-wrap: balance;
  //   width: 400px;
  @media screen and (min-width: 814px) {
    font-size: 12px;
    width: 420px;
    margin-right: 50px;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    text-wrap: nowrap;
  }
}

.portfolio__list {
  margin-top: 90px;
  //   margin-left: 100px;
}

.portfolio {
  padding-top: 25px;
  padding-bottom: 30px;
  background: $bgAccentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 814px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.portfolio-services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    // gap: 300px;
    justify-content: space-between;
  }
}

.portfolio__list,
.services__list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-top: 30px;
}

.portfolio__button {
  width: 93px;
  height: 26px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: $accentColor;
  color: $textSecondaryColor;
  font-size: 8px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  margin-top: 10px;
  margin-right: 90px;
  @media screen and (min-width: 814px) {
    width: 191px;
    height: 48px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 258px;
    height: 55px;
    font-size: 20px;
    display: flex;
  }
}

.swiper {
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 10px;
  @media screen and (min-width: 814px) {
    margin-top: 30px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 100000;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-size: 55px;
  --swiper-navigation-color: var(--swiper-theme-color);
  top: 50%;
  transform: translateY(-50%);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(131, 113, 20);
}

.swiper-pagination-bullet-active {
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(255, 233, 118);
}

.swiper-button-prev {
  color: rgb(25, 25, 25);
  display: none;
  @media screen and (min-width: 814px) {
    display: block;
  }
}

.swiper-button-next {
  color: rgb(25, 25, 25);
  display: none;
  @media screen and (min-width: 814px) {
    display: block;
  }
}

.services-price-hover-box {
  position: absolute;
  top: 30px;
  left: 0;
  pointer-events: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  transition: opacity 0.5s ease;
  z-index: 1;
  opacity: 0;
}

.services__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.services-price-hover__text {
  font-size: 8px;
  font-weight: 400;
  line-height: 250%;
  text-align: left;
  color: $textColor;
  @media screen and (min-width: 814px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.services-price-hover__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  &::before {
    content: '-';
    display: block;
    margin-left: -18px;
  }
  & p {
    font-size: 8px;
    font-weight: 400;
    line-height: 250%;
    // text-align: left;
    color: $textColor;
    @media screen and (min-width: 814px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
}

.services__item:hover .services-price-hover-box {
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: var(--swiper-pagination-bottom, 65px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 2px;
  &-active {
    width: 20px;
    height: 2px;
  }
  @media screen and (min-width: 814px) {
    width: 15px;
    height: 4px;
    &-active {
      width: 30px;
      height: 4px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 20px;
    height: 5px;
    &-active {
      width: 40px;
      height: 5px;
    }
  }
}

.swiper-pagination {
  position: static;
}

.service-svg {
  width: 10px;
  height: 10px;
  @media screen and (min-width: 814px) {
    width: 15px;
    height: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 20px;
    height: 20px;
  }
}
