.portfolio__title {
    color: $textColor;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0%;
    justify-content: center;
    text-align: center;
}

.portfolio__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__img {
    width: 785px;
    height: 398px;
    margin: 0 auto; // додано для центрування зображення
    display: block; // додано для того, щоб margin: auto працював
}

.portfolio__design {
    width: 20px;
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background: $controllerUnactive;
    transition: all 0.5s ease-in-out; // Додано для плавної зміни розміру та кольору
}

.portfolio__design.active {
    background: $controllerActive;
}

.portfolio__design-list {
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
}

.portfolio__design-list li:not(:last-child) {
    margin-right: 25px;
}

.portfolio__text {
    color: $textColor;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.portfolio__list {
    margin-top: 90px;
    margin-left: 100px;
}

.portfolio {
    padding-top: 108px;
    padding-bottom: 100px;
    background: $bgAccentColor;
}

.portfolio__button {
    width: 200px;
    height: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: $accentColor;
    color: $textSecondaryColor;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    margin-top: 10px;
}

.swiper {
    width: 1005px;
    height: 498px;
    z-index: 100000;
    margin-top: 60px;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 100000;
    --swiper-navigation-top-offset: 40%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-size: 55px;
    --swiper-navigation-color: var(--swiper-theme-color);
}