.reviews {
    padding-top: 108px;
    padding-bottom: 100px;
    background: rgb(255, 251, 230);
}

.reviews_title {
    color: rgb(0, 0, 0);
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}

.reviews_list {
    position: relative;
    /* Змінив absolute на relative */
    width: 429px;
    height: 269px;
    margin: 0 auto;
    /* Додав цей рядок, щоб центрувати відносно батьківського елемента */
    box-shadow: 0px 0px 26.7px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

.reviews_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
}

.reviews_avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.reviews_text {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 250%;
    letter-spacing: 0%;
}

.reviews_text_last {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 250%;
    letter-spacing: 0%;
}

.reviews_item_img {
    position: relative;
    top: 25px;
    left: 25px;
}

.reviews_item {
    position: relative;
    left: 125px;
    top: -50px;
}

.reviews_item_last {
    position: relative;
    left: 125px;
    top: -50px;
}

.reviews_list_lorem {
    position: relative;
    left: 125px;
    top: -50px;
}

.reviews_text_lorem {
    width: 279px;
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}