@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.tips {
    padding-top: 60px;
    padding-bottom: 60px;
}

.tips__title {
    @extend %title;
}

.tips__list {
    @extend %flexcenter;
    margin-top: 30px;
    gap: 20px;
}

.tips__item {
    border-radius: 10px;
    box-shadow: $boxShadow;
    background: rgb(255, 255, 255);
    padding: 25px;
    width: 654px;
    height: 289px;
    position: relative;
}

.tips-photo-box {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgb(217, 217, 217);
}

.tips__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 250%;
    letter-spacing: 0%;
    text-align: left;
    color: $textColor;
}

.tips__description {
    @extend %text-main;
    text-align: left;
    width: 554px;
    margin-left: auto;
}

.tips-see-more__span {
    color: rgb(106, 106, 106);
    text-decoration: underline;
}

.tips-person-box {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}

.show-text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 654px;
    height: 330px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    z-index: 1;
    top: 0;
    animation: fadeOut 0.5s ease-in-out forwards;
}

.tips--shown {
    opacity: 1;
    pointer-events: auto;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.show-text-img {
    position: relative;
    margin-left: 575px;
    top: -80px;
    cursor: pointer;
}


/* Стілі для планшетів */

@media (max-width: 1200px) {
    .tips__item {
        width: 382px;
        /* Зменшена ширина картки */
        height: 250px;
        /* Автоматична висота */
        padding: 20px;
        /* Відступ */
        position: relative;
    }
    .tips__description {
        font-size: 12px;
        width: 100%;
        overflow: hidden;
    }
    .show-text {
        width: 90%;
        /* Зменшена ширина в розгорнутому стані */
        width: 382px;
        /* Зменшена ширина картки */
        height: 250px;
        overflow: hidden;
        /* Обмеження тексту в межах картки */
        padding: 20px;
    }
    .show-text-img {
        width: 15px;
        /* Ширина хрестика */
        height: 15px;
        /* Висота хрестика */
        position: absolute;
        top: 10px;
        /* Відступ від верхнього краю */
        right: 10px;
        /* Відступ від правого краю */
        cursor: pointer;
    }
    .tips-photo-box {
        width: 75px;
        /* Зменшена ширина фото */
        height: 75px;
        /* Зменшена висота фото */
    }
    .tips__name {
        font-size: 14px;
        /* Менший розмір тексту */
    }
}


/* Стілі для мобільних пристроїв */

@media (max-width: 814px) {
    .tips__title {
        font-size: 17px;
    }
    .tips__list {
        display: flex;
        flex-direction: column;
        /* Картки в один стовпець */
    }
    .tips__item {
        width: 260px;
        /* Ширина картки на всю ширину екрану */
        height: 140px;
        /* Автоматична висота */
        padding: 15px;
        /* Відступ */
        position: relative;
    }
    .tips__description {
        /* Зменшений розмір шрифту */
        width: 100%;
        font-size: 8px;
        overflow: hidden;
        /* Текст не виходить за межі картки */
    }
    .show-text {
        width: 260px;
        /* Зменшена ширина в розгорнутому стані */
        height: auto;
        overflow: hidden;
        /* Обмеження тексту в межах картки */
        padding: 20px;
    }
    .show-text-img {
        width: 10px;
        /* Ширина хрестика */
        height: 10px;
        /* Висота хрестика */
        position: absolute;
        top: 10px;
        /* Відступ від верхнього краю */
        right: 10px;
        /* Відступ від правого краю */
        cursor: pointer;
    }
    .tips-photo-box {
        width: 30px;
        height: 30px;
    }
    .name-and-surname-box {
        display: flex;
    }
    .tips__name {
        font-size: 10px;
    }
    .tips__name:not(:last-child) {
        margin-right: 5px;
    }
}